- @no_container = true
- @hide_top_links = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, dashboard_projects_url(rss_url_options), title: "所有活动")

- page_title    "项目"
- header_title  "项目", dashboard_projects_path

= render "projects/last_push"

%div{ class: container_class }
  - if show_callout?('user_callout_dismissed')
    = render 'shared/user_callout'

  - if @projects.any? || params[:name]
    = render 'dashboard/projects_head'

  - if @projects.any? || params[:name]
    = render 'projects'
  - else
    = render "zero_authorized_projects"
