- @hide_top_links = true
- @no_container = true
- breadcrumb_title "Projects"
- page_title "星标项目"
- header_title "项目", dashboard_projects_path

= render "projects/last_push"

%div{ class: container_class }
  = render 'dashboard/projects_head'

  - if @projects.any? || params[:filter_projects]
    = render 'projects'
  - else
    %h3 你还没有给任何项目加注星标
    %p.slead 访问项目页面然后按下星标图标即可将项目显示在此页面。
