.js-toggle-container
  .commit-stat-summary
    正在显示
    %button.diff-stats-summary-toggler.js-toggle-button{ type: "button" }
      %strong= pluralize(diff_files.size, "个修改的文件", "个修改的文件")
    包含
    %strong.cgreen #{diff_files.sum(&:added_lines)} 行增加
    和
    %strong.cred #{diff_files.sum(&:removed_lines)} 行删除
  .file-stats.js-toggle-content.hide
    %ul
      - diff_files.each do |diff_file|
        - file_hash = hexdigest(diff_file.file_path)
        %li
          - if diff_file.deleted_file?
            %span.deleted-file
              %a{ href: "##{file_hash}" }
                %i.fa.fa-minus
                = diff_file.old_path
          - elsif diff_file.renamed_file?
            %span.renamed-file
              %a{ href: "##{file_hash}" }
                %i.fa.fa-minus
                = diff_file.old_path
                &rarr;
                = diff_file.new_path
          - elsif diff_file.new_file?
            %span.new-file
              %a{ href: "##{file_hash}" }
                %i.fa.fa-plus
                = diff_file.new_path
          - else
            %span.edit-file
              %a{ href: "##{file_hash}" }
                %i.fa.fa-adjust
                = diff_file.new_path
