.panel.panel-default.protected-tags-list
  - if @protected_tags.empty?
    .panel-heading
      %h3.panel-title
        已保护标签 (#{@protected_tags.size})
    %p.settings-message.text-center
      没有保护标签，请在上面选择一个标签。
  - else
    - can_admin_project = can?(current_user, :admin_project, @project)

    %table.table.table-bordered
      %colgroup
        %col{ width: "25%" }
        %col{ width: "25%" }
        %col{ width: "50%" }
        - if can_admin_project
          %col
      %thead
        %tr
          %th 保护标签 (#{@protected_tags.size})
          %th 最后提交
          %th 允许创建
          - if can_admin_project
            %th
      %tbody
        %tr
          %td.flash-container{ colspan: 4 }
        = render partial: 'projects/protected_tags/protected_tag', collection: @protected_tags, locals: { can_admin_project: can_admin_project}

    = paginate @protected_tags, theme: 'gitlab'
