- page_title '两步验证', '账号'
- if show_new_nav?
  - add_to_breadcrumbs("Account", profile_account_path)
- else
  - header_title "两步验证", profile_two_factor_auth_path
- @content_class = "limit-container-width" unless fluid_layout

= render 'profiles/head'

- if inject_u2f_api?
  - content_for :page_specific_javascripts do
    = page_specific_javascript_bundle_tag('u2f')

.row.prepend-top-default
  .col-lg-4
    %h4.prepend-top-0
      注册两步验证应用
    %p
      使用移动设备上的应用来启用两步验证（2FA）。
  .col-lg-8
    - if current_user.two_factor_otp_enabled?
      = icon "check inverse", base: "circle", class: "text-success", text: "您已经启用了移动设备上的两步认证功能，您可以在帐户设置页面中停用此功能。"
    - else
      %p
        从App Store或Google Play商店下载Google Authenticator 应用，然后扫描此二维码。
        更多可用的信息请参阅此 #{link_to('文档', help_page_path('profile/two_factor_authentication'))}。
      .row.append-bottom-10
        .col-md-4
          = raw @qr_code
        .col-md-8
          .account-well
            %p.prepend-top-0.append-bottom-0
              无法扫描二维码？
            %p.prepend-top-0.append-bottom-0
              请在手机应用中输入以下信息手动进行绑定。
            %p.prepend-top-0.append-bottom-0
              账号:
              = @account_string
            %p.prepend-top-0.append-bottom-0
              密钥:
              = current_user.otp_secret.scan(/.{4}/).join(' ')
            %p.two-factor-new-manual-content
              基于时间: 是
      = form_tag profile_two_factor_auth_path, method: :post do |f|
        - if @error
          .alert.alert-danger
            = @error
        .form-group
          = label_tag :pin_code, "PIN 码", class: "label-light"
          = text_field_tag :pin_code, nil, class: "form-control", required: true
        .prepend-top-default
          = submit_tag '注册两步验证应用', class: 'btn btn-success'

%hr

.row.prepend-top-default

  .col-lg-4
    %h4.prepend-top-0
      注册通用两步验证设备(U2F)
    %p
      使用硬件设备进行两步验证。
    %p
      由于 U2F 设备仅受几个浏览器支持，因此我们需要您先设置一个
      两步验证应用，这样即使您的浏览器不受支持，您也可以登录。
  .col-lg-8
    - if @u2f_registration.errors.present?
      = form_errors(@u2f_registration)
    = render "u2f/register"

    %hr

    %h5 U2F 设备 (#{@u2f_registrations.length})

    - if @u2f_registrations.present?
      .table-responsive
        %table.table.table-bordered.u2f-registrations
          %colgroup
            %col{ width: "50%" }
            %col{ width: "30%" }
            %col{ width: "20%" }
          %thead
            %tr
              %th Name
              %th Registered On
              %th
          %tbody
            - @u2f_registrations.each do |registration|
              %tr
                %td= registration.name.presence || "<no name set>"
                %td= registration.created_at.to_date.to_s(:medium)
                %td= link_to "删除", profile_u2f_registration_path(registration), method: :delete, class: "btn btn-danger pull-right", data: { confirm: "设备删除后将无法恢复，确定继续？" }

    - else
      .settings-message.text-center
        您还没有注册过 U2F 设备。


- if two_factor_skippable?
  :javascript
    var button = "<a class='btn btn-xs btn-warning pull-right' data-method='patch' href='#{skip_profile_two_factor_auth_path}'>Configure it later</a>";
    $(".flash-alert").append(button);
