- @hide_top_links = true
- @content_class = "limit-container-width limited-inner-width-container" unless fluid_layout
- page_title "#{@snippet.title} (#{@snippet.to_reference})", "代码片段"

= render 'shared/snippets/header'

.personal-snippets
  %article.file-holder.snippet-file-content
    = render 'shared/snippets/blob'

  .row-content-block.top-block.content-component-block
    = render 'award_emoji/awards_block', awardable: @snippet, inline: true

  #notes.limited-width-notes= render "shared/notes/notes_with_form", :autocomplete => false
