.nav-sidebar
  = link_to profile_path, title: '个人资料设置', class: 'context-header' do
    .avatar-container.s40.settings-avatar
      = icon('user')
    .project-title 用户设置
  %ul.sidebar-top-level-items
    = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
      = link_to profile_path, title: '个人资料设置' do
        %span
          个人资料
    = nav_link(controller: [:accounts, :two_factor_auths]) do
      = link_to profile_account_path, title: '账号' do
        %span
          账号
    - if current_application_settings.user_oauth_applications?
      = nav_link(controller: 'oauth/applications') do
        = link_to applications_profile_path, title: '应用' do
          %span
            应用
    = nav_link(controller: :chat_names) do
      = link_to profile_chat_names_path, title: '聊天' do
        %span
          聊天
    = nav_link(controller: :personal_access_tokens) do
      = link_to profile_personal_access_tokens_path, title: '访问令牌' do
        %span
          访问令牌
    = nav_link(controller: :emails) do
      = link_to profile_emails_path, title: '电子邮箱' do
        %span
          电子邮箱
    - unless current_user.ldap_user?
      = nav_link(controller: :passwords) do
        = link_to edit_profile_password_path, title: '密码' do
          %span
            密码
    = nav_link(controller: :notifications) do
      = link_to profile_notifications_path, title: '通知' do
        %span
          通知

    = nav_link(controller: :keys) do
      = link_to profile_keys_path, title: 'SSH 密钥' do
        %span
          SSH 密钥
    = nav_link(controller: :preferences) do
      = link_to profile_preferences_path, title: '偏好' do
        %span
          偏好
    = nav_link(path: 'profiles#audit_log') do
      = link_to audit_log_profile_path, title: '认证日志' do
        %span
          认证日志
