.nav-sidebar
  - can_edit = can?(current_user, :admin_project, @project)
  = link_to project_path(@project), title: @project.name, class: 'context-header' do
    .avatar-container.s40.project-avatar
      = project_icon(@project, alt: @project.name, class: 'avatar s40 avatar-tile')
    .project-title
      = @project.name
  %ul.sidebar-top-level-items
    = nav_link(path: ['projects#show', 'projects#activity', 'cycle_analytics#show'], html_options: { class: 'home' }) do
      = link_to project_path(@project), title: '项目', class: 'shortcuts-project' do
        %span
          项目

      %ul.sidebar-sub-level-items
        = nav_link(path: 'projects#show') do
          = link_to project_path(@project), title: _('Project home'), class: 'shortcuts-project' do
            %span= _('Home')

        = nav_link(path: 'projects#activity') do
          = link_to activity_project_path(@project), title: _('Activity'), class: 'shortcuts-project-activity' do
            %span= _('Activity')

        - if can?(current_user, :read_cycle_analytics, @project)
          = nav_link(path: 'cycle_analytics#show') do
            = link_to project_cycle_analytics_path(@project), title: _('Cycle Analytics'), class: 'shortcuts-project-cycle-analytics' do
              %span= _('Cycle Analytics')

    - if project_nav_tab? :files
      = nav_link(controller: %w(tree blob blame edit_tree new_tree find_file commit commits compare projects/repositories tags branches releases graphs network)) do
        = link_to project_tree_path(@project), title: '版本库',  class: 'shortcuts-tree' do
          %span
            版本库

        %ul.sidebar-sub-level-items
          = nav_link(controller: %w(tree blob blame edit_tree new_tree find_file)) do
            = link_to project_tree_path(@project) do
              #{ _('Files') }

          = nav_link(controller: [:commit, :commits]) do
            = link_to project_commits_path(@project, current_ref) do
              #{ _('Commits') }

          = nav_link(html_options: {class: branches_tab_class}) do
            = link_to project_branches_path(@project) do
              #{ _('Branches') }

          = nav_link(controller: [:tags, :releases]) do
            = link_to project_tags_path(@project) do
              #{ _('Tags') }

          = nav_link(path: 'graphs#show') do
            = link_to project_graph_path(@project, current_ref) do
              #{ _('Contributors') }

          = nav_link(controller: %w(network)) do
            = link_to project_network_path(@project, current_ref) do
              #{ s_('ProjectNetworkGraph|Graph') }

          = nav_link(controller: :compare) do
            = link_to project_compare_index_path(@project, from: @repository.root_ref, to: current_ref) do
              #{ _('Compare') }

          = nav_link(path: 'graphs#charts') do
            = link_to charts_project_graph_path(@project, current_ref) do
              #{ _('Charts') }

    - if project_nav_tab? :container_registry
      = nav_link(controller: %w[projects/registry/repositories]) do
        = link_to project_container_registry_index_path(@project), title: '容器注册表', class: 'shortcuts-container-registry' do
          %span
            注册表

    - if project_nav_tab? :issues
      = nav_link(controller: @project.default_issues_tracker? ? [:issues, :labels, :milestones, :boards] : :issues) do
        = link_to project_issues_path(@project), title: 'Issues', class: 'shortcuts-issues' do
          %span
            - if @project.default_issues_tracker?
              %span.badge.count.issue_counter= number_with_delimiter(IssuesFinder.new(current_user, project_id: @project.id).execute.opened.count)
            问题

        %ul.sidebar-sub-level-items
          - if project_nav_tab?(:issues) && !current_controller?(:merge_requests)
            = nav_link(controller: :issues) do
              = link_to project_issues_path(@project), title: '问题' do
                %span
                  列表

            = nav_link(controller: :boards) do
              = link_to project_boards_path(@project), title: '看板' do
                %span
                  看板

          - if project_nav_tab?(:merge_requests) && current_controller?(:merge_requests)
            = nav_link(controller: :merge_requests) do
              = link_to project_merge_requests_path(@project), title: '合并请求' do
                %span
                  合并请求

          - if project_nav_tab? :labels
            = nav_link(controller: :labels) do
              = link_to project_labels_path(@project), title: '标记' do
                %span
                  标记

          - if project_nav_tab? :milestones
            = nav_link(controller: :milestones) do
              = link_to project_milestones_path(@project), title: '里程碑' do
                %span
                  里程碑

    - if project_nav_tab? :merge_requests
      = nav_link(controller: @project.default_issues_tracker? ? :merge_requests : [:merge_requests, :labels, :milestones]) do
        = link_to project_merge_requests_path(@project), title: '合并请求', class: 'shortcuts-merge_requests' do
          %span
            %span.badge.count.merge_counter.js-merge-counter= number_with_delimiter(MergeRequestsFinder.new(current_user, project_id: @project.id).execute.opened.count)
            合并请求

    - if project_nav_tab? :pipelines
      = nav_link(controller: [:pipelines, :builds, :jobs, :pipeline_schedules, :environments, :artifacts]) do
        = link_to project_pipelines_path(@project), title: '流水线', class: 'shortcuts-pipelines' do
          %span
            流水线

        %ul.sidebar-sub-level-items
          - if project_nav_tab? :pipelines
            = nav_link(path: ['pipelines#index', 'pipelines#show']) do
              = link_to project_pipelines_path(@project), title: '流水线', class: 'shortcuts-pipelines' do
                %span
                  流水线

          - if project_nav_tab? :builds
            = nav_link(controller: [:jobs, :artifacts]) do
              = link_to project_jobs_path(@project), title: '作业', class: 'shortcuts-builds' do
                %span
                  作业

          - if project_nav_tab? :pipelines
            = nav_link(controller: :pipeline_schedules) do
              = link_to pipeline_schedules_path(@project), title: '日程表', class: 'shortcuts-builds' do
                %span
                  日程表

          - if project_nav_tab? :environments
            = nav_link(controller: :environments) do
              = link_to project_environments_path(@project), title: '运行环境', class: 'shortcuts-environments' do
                %span
                  运行环境

          - if @project.feature_available?(:builds, current_user) && !@project.empty_repo?
            = nav_link(path: 'pipelines#charts') do
              = link_to charts_project_pipelines_path(@project), title: '图表', class: 'shortcuts-pipelines-charts' do
                %span
                  图表

    - if project_nav_tab? :wiki
      = nav_link(controller: :wikis) do
        = link_to get_project_wiki_path(@project), title: '维基', class: 'shortcuts-wiki' do
          %span
            维基

    - if project_nav_tab? :snippets
      = nav_link(controller: :snippets) do
        = link_to project_snippets_path(@project), title: '代码片段', class: 'shortcuts-snippets' do
          %span
            代码片段

    - if project_nav_tab? :settings
      = nav_link(path: %w[projects#edit project_members#index integrations#show services#edit repository#show ci_cd#show pages#show]) do
        = link_to edit_project_path(@project), title: '设置', class: 'shortcuts-tree' do
          %span
            设置

        %ul.sidebar-sub-level-items
          - can_edit = can?(current_user, :admin_project, @project)
          - if can_edit
            = nav_link(controller: :projects) do
              = link_to edit_project_path(@project), title: '常规' do
                %span
                  常规
          = nav_link(controller: :project_members) do
            = link_to project_project_members_path(@project), title: '成员' do
              %span
                成员
          - if can_edit
            = nav_link(controller: [:integrations, :services, :hooks, :hook_logs]) do
              = link_to project_settings_integrations_path(@project), title: '集成' do
                %span
                  集成
            = nav_link(controller: :repository) do
              = link_to project_settings_repository_path(@project), title: '版本库' do
                %span
                  版本库
            - if @project.feature_available?(:builds, current_user)
              = nav_link(controller: :ci_cd) do
                = link_to project_settings_ci_cd_path(@project), title: '流水线' do
                  %span
                    流水线
            - if Gitlab.config.pages.enabled
              = nav_link(controller: :pages) do
                = link_to project_pages_path(@project), title: '页面' do
                  %span
                    页面

    - else
      = nav_link(path: %w[members#show]) do
        = link_to project_settings_members_path(@project), title: '设置', class: 'shortcuts-tree' do
          %span
            设置

    -# Shortcut to Project > Activity
    %li.hidden
      = link_to activity_project_path(@project), title: '活动', class: 'shortcuts-project-activity' do
        %span
          活动

    -# Shortcut to Repository > Graph (formerly, Network)
    - if project_nav_tab? :network
      %li.hidden
        = link_to project_network_path(@project, current_ref), title: '网络', class: 'shortcuts-network' do
          图像

    -# Shortcut to Repository > Charts (formerly, top-nav item "Graphs")
    - unless @project.empty_repo?
      %li.hidden
        = link_to charts_project_graph_path(@project, current_ref), title: '图表', class: 'shortcuts-repository-charts' do
          图表

    -# Shortcut to Issues > New Issue
    %li.hidden
      = link_to new_project_issue_path(@project), class: 'shortcuts-new-issue' do
        创建新的问题

    -# Shortcut to Pipelines > Jobs
    - if project_nav_tab? :builds
      %li.hidden
        = link_to project_jobs_path(@project), title: '作业', class: 'shortcuts-builds' do
          作业

    -# Shortcut to commits page
    - if project_nav_tab? :commits
      %li.hidden
        = link_to project_commits_path(@project), title: '提交', class: 'shortcuts-commits' do
          提交

    -# Shortcut to issue boards
    %li.hidden
      = link_to '问题看板', project_boards_path(@project), title: '问题看板', class: 'shortcuts-issue-boards'
