.nav-sidebar
  = link_to admin_root_path, title: '管理概述', class: 'context-header' do
    .avatar-container.s40.settings-avatar
      = icon('wrench')
    .project-title 管理区域
  %ul.sidebar-top-level-items
    = nav_link(controller: %w(dashboard admin projects users groups jobs runners cohorts), html_options: {class: 'home'}) do
      = link_to admin_root_path, title: '概述', class: 'shortcuts-tree' do
        %span
          概述

      %ul.sidebar-sub-level-items
        = nav_link(controller: :dashboard, html_options: {class: 'home'}) do
          = link_to admin_root_path, title: '概述' do
            %span
              仪表板
        = nav_link(controller: [:admin, :projects]) do
          = link_to admin_projects_path, title: '项目' do
            %span
              项目
        = nav_link(controller: :users) do
          = link_to admin_users_path, title: '用户' do
            %span
              用户
        = nav_link(controller: :groups) do
          = link_to admin_groups_path, title: '群组' do
            %span
              群组
        = nav_link path: 'jobs#index' do
          = link_to admin_jobs_path, title: '作业' do
            %span
              作业
        = nav_link path: ['runners#index', 'runners#show'] do
          = link_to admin_runners_path, title: 'Runners' do
            %span
              Runners
        = nav_link path: 'cohorts#index' do
          = link_to admin_cohorts_path, title: '活跃度' do
            %span
              活跃度

    = nav_link(controller: %w(conversational_development_index system_info background_jobs logs health_check requests_profiles)) do
      = link_to admin_conversational_development_index_path, title: '监控' do
        %span
          监控

      %ul.sidebar-sub-level-items
        = nav_link(controller: :conversational_development_index) do
          = link_to admin_conversational_development_index_path, title: 'ConvDev Index' do
            %span
              ConvDev Index
        = nav_link(controller: :system_info) do
          = link_to admin_system_info_path, title: '系统信息' do
            %span
              系统信息
        = nav_link(controller: :background_jobs) do
          = link_to admin_background_jobs_path, title: '后台作业' do
            %span
              后台作业
        = nav_link(controller: :logs) do
          = link_to admin_logs_path, title: '日志' do
            %span
              日志
        = nav_link(controller: :health_check) do
          = link_to admin_health_check_path, title: '健康检查' do
            %span
              健康检查
        = nav_link(controller: :requests_profiles) do
          = link_to admin_requests_profiles_path, title: '请求配置' do
            %span
              请求配置

    = nav_link(controller: :broadcast_messages) do
      = link_to admin_broadcast_messages_path, title: '消息' do
        %span
          消息
    = nav_link(controller: [:hooks, :hook_logs]) do
      = link_to admin_hooks_path, title: '钩子' do
        %span
          系统钩子

    = nav_link(controller: :applications) do
      = link_to admin_applications_path, title: '应用' do
        %span
          应用

    = nav_link(controller: :abuse_reports) do
      = link_to admin_abuse_reports_path, title: "违规举报" do
        %span
          %span.badge.count= number_with_delimiter(AbuseReport.count(:all))
          违规举报

    - if akismet_enabled?
      = nav_link(controller: :spam_logs) do
        = link_to admin_spam_logs_path, title: "垃圾日志" do
          %span
            垃圾日志

    = nav_link(controller: :deploy_keys) do
      = link_to admin_deploy_keys_path, title: '部署密钥' do
        %span
          部署密钥

    = nav_link(controller: :services) do
      = link_to admin_application_settings_services_path, title: '服务模板' do
        %span
          服务模板

    = nav_link(controller: :labels) do
      = link_to admin_labels_path, title: '标记' do
        %span
          标记

    = nav_link(controller: :appearances) do
      = link_to admin_appearances_path, title: '外观' do
        %span
          外观

    %li.divider
    = nav_link(controller: :application_settings) do
      = link_to admin_application_settings_path, title: '设置' do
        %span
          设置
