.nav-sidebar
  = link_to group_path(@group), title: @group.name, class: 'context-header' do
    .avatar-container.s40.group-avatar
      = image_tag group_icon(@group), class: "avatar s40 avatar-tile"
    .group-title
      = @group.name
  %ul.sidebar-top-level-items
    = nav_link(path: ['groups#show', 'groups#activity', 'groups#subgroups'], html_options: { class: 'home' }) do
      = link_to group_path(@group), title: '主页' do
        %span
          群组

      %ul.sidebar-sub-level-items
        = nav_link(path: ['groups#show', 'groups#subgroups'], html_options: { class: 'home' }) do
          = link_to group_path(@group), title: '群组主页' do
            %span
              主页

        = nav_link(path: 'groups#activity') do
          = link_to activity_group_path(@group), title: '活动' do
            %span
              活动

    = nav_link(path: ['groups#issues', 'labels#index', 'milestones#index']) do
      = link_to issues_group_path(@group), title: '问题' do
        %span
          - issues = IssuesFinder.new(current_user, group_id: @group.id, state: 'opened').execute
          %span.badge.count= number_with_delimiter(issues.count)
          问题

      %ul.sidebar-sub-level-items
        = nav_link(path: 'groups#issues', html_options: { class: 'home' }) do
          = link_to issues_group_path(@group), title: '列表' do
            %span
              列表

        = nav_link(path: 'labels#index') do
          = link_to group_labels_path(@group), title: '标记' do
            %span
              标记

        = nav_link(path: 'milestones#index') do
          = link_to group_milestones_path(@group), title: '里程碑' do
            %span
              里程碑

    = nav_link(path: 'groups#merge_requests') do
      = link_to merge_requests_group_path(@group), title: '合并请求' do
        %span
          - merge_requests = MergeRequestsFinder.new(current_user, group_id: @group.id, state: 'opened', non_archived: true).execute
          %span.badge.count= number_with_delimiter(merge_requests.count)
          合并请求
    = nav_link(path: 'group_members#index') do
      = link_to group_group_members_path(@group), title: '成员' do
        %span
          成员
    - if current_user && can?(current_user, :admin_group, @group)
      = nav_link(path: %w[groups#projects groups#edit ci_cd#show]) do
        = link_to edit_group_path(@group), title: '设置' do
          %span
            设置
        %ul.sidebar-sub-level-items
          = nav_link(path: 'groups#edit') do
            = link_to edit_group_path(@group), title: '常规' do
              %span
                常规

          = nav_link(path: 'groups#projects') do
            = link_to projects_group_path(@group), title: '项目' do
              %span
                项目

          = nav_link(controller: :ci_cd) do
            = link_to group_settings_ci_cd_path(@group), title: '流水线' do
              %span
                流水线
