- page_title "版本库"
- @content_class = "limit-container-width" unless fluid_layout

- if show_new_nav?
  - add_to_breadcrumbs("Settings", edit_project_path(@project))

= render "projects/settings/head"

- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('common_vue')
  = page_specific_javascript_bundle_tag('deploy_keys')

= render "projects/protected_branches/index"
= render "projects/protected_tags/index"
= render @deploy_keys
