- @no_container = true
- page_title "#{@build.name} (##{@build.id})", "作业"
= render "projects/pipelines/head"

%div{ class: container_class }
  .build-page.js-build-page
    #js-build-header-vue
    - if @build.stuck?
      - unless @build.any_runners_online?
        .bs-callout.bs-callout-warning.js-build-stuck
          %p
            - if no_runners_for_project?(@build.project)
              此作业被卡住，因为没有任何活动runnner指定给该项目。
            - elsif @build.tags.any?
              此作业被卡住，因为没有任何该项目指定标签的 runner 在线。指定的标签如下：
              - @build.tags.each do |tag|
                %span.label.label-primary
                  = tag
            - else
              此作业被卡住，因为没有任何活动的 runner 能运行此构建。

            %br
            转到
            = link_to project_runners_path(@build.project) do
              Runners 页面

    - if @build.starts_environment?
      .prepend-top-default.js-environment-container
        .environment-information
          - if @build.outdated_deployment?
            = ci_icon_for_status('success_with_warnings')
          - else
            = ci_icon_for_status(@build.status)

          - environment = environment_for_build(@build.project, @build)
          - if @build.success? && @build.last_deployment.present?
            - if @build.last_deployment.last?
              这是最新部署到 #{environment_link_for_build(@build.project, @build)} 的作业。
            - else
              这个部署到 #{environment_link_for_build(@build.project, @build)} 的作业已经过期。
              查看最新的部署 #{deployment_link(environment.last_deployment)} 。
          - elsif @build.complete? && !@build.success?
            这个作业没有成功部署到 #{environment_link_for_build(@build.project, @build)} 。
          - else
            这个作业将会部署到 #{environment_link_for_build(@build.project, @build)}
            - if environment.try(:last_deployment)
              并且将替换掉其 #{deployment_link(environment.last_deployment, text: '最新的部署')}

    - if @build.erased?
      .prepend-top-default.js-build-erased
        .erased.alert.alert-warning
          - if @build.erased_by_user?
            作业被 #{link_to(@build.erased_by_name, user_path(@build.erased_by))} 于 #{time_ago_with_tooltip(@build.erased_at)} 删除
          - else
            作业已经于 #{time_ago_with_tooltip(@build.erased_at)} 被删除

    .build-trace-container.prepend-top-default
      .top-bar.js-top-bar
        .js-truncated-info.truncated-info.hidden<
          Showing last
          %span.js-truncated-info-size.truncated-info-size><
          KiB of log -
          %a.js-raw-link.raw-link{ href: raw_project_job_path(@project, @build) }>< Complete Raw

        .controllers
          - if @build.has_trace?
            = link_to raw_project_job_path(@project, @build),
                    title: '显示全部原始数据',
                    data: { placement: 'top', container: 'body' },
                    class: 'js-raw-link-controller has-tooltip controllers-buttons' do
              = icon('file-text-o')

          - if can?(current_user, :update_build, @project) && @build.erasable?
            = link_to erase_project_job_path(@project, @build),
                      method: :post,
                      data: { confirm: 'Are you sure you want to erase this build?', placement: 'top', container: 'body' },
                      title: '擦除作业日志',
                      class: 'has-tooltip js-erase-link controllers-buttons' do
              = icon('trash')
          .has-tooltip.controllers-buttons{ title: '滚动到顶部', data: { placement: 'top', container: 'body'} }
            %button.js-scroll-up.btn-scroll.btn-transparent.btn-blank{ type: 'button', disabled: true }
              = custom_icon('scroll_up')
          .has-tooltip.controllers-buttons{ title: '滚动到底部', data: { placement: 'top', container: 'body'} }
            %button.js-scroll-down.btn-scroll.btn-transparent.btn-blank{ type: 'button', disabled: true }
              = custom_icon('scroll_down')

      %pre.build-trace#build-trace
        %code.bash.js-build-output
        .build-loader-animation.js-build-refresh


  = render "sidebar"

.js-build-options{ data: javascript_build_options }

#js-job-details-vue{ data: { endpoint: project_job_path(@project, @build, format: :json) } }

- content_for :page_specific_javascripts do
  = webpack_bundle_tag('common_vue')
  = webpack_bundle_tag('job_details')
