- @no_container = true
- page_title "系统信息"
= render 'admin/monitoring/head'

%div{ class: container_class }
  .prepend-top-default
  .row
    .col-sm-4
      .light-well
        %h4 CPU
        .data
          - if @cpus
            %h1 #{@cpus.length} cores
          - else
            = icon('warning', class: 'text-warning')
            无法收集 CPU 信息
    .col-sm-4
      .light-well
        %h4 内存
        .data
          - if @memory
            %h1 #{number_to_human_size(@memory.active_bytes)} / #{number_to_human_size(@memory.total_bytes)}
          - else
            = icon('warning', class: 'text-warning')
            无法收集内存信息
    .col-sm-4
      .light-well
        %h4 磁盘
        .data
          - @disks.each do |disk|
            %h1 #{number_to_human_size(disk[:bytes_used])} / #{number_to_human_size(disk[:bytes_total])}
            %p= disk[:disk_name]
            %p= disk[:mount_path]
    .col-sm-4
      .light-well
        %h4 Uptime
        .data
          %h1= time_ago_with_tooltip(Rails.application.config.booted_at)
