%h4.prepend-top-20
  贡献
  %strong= @calendar_date.to_s(:short)

- if @events.any?
  %ul.bordered-list
    - @events.sort_by(&:created_at).each do |event|
      %li
        %span.light
          %i.fa.fa-clock-o
          = event.created_at.to_s(:time)
        - if event.push?
          #{event.action_name} #{event.ref_type}
          %strong
            - commits_path = project_commits_path(event.project, event.ref_name)
            = link_to_if event.project.repository.branch_exists?(event.ref_name), event.ref_name, commits_path
        - else
          = event_action_name(event)
          %strong
            - if event.note?
              = link_to event.note_target.to_reference, event_note_target_path(event), class: 'has-tooltip', title: event.target_title
            - elsif event.target
              = link_to event.target.to_reference, [event.project.namespace.becomes(Namespace), event.project, event.target], class: 'has-tooltip', title: event.target_title

        在
        %strong
          - if event.project
            = link_to_project event.project
          - else
            = event.project_name
- else
  %p
    在 #{@calendar_date.to_s(:short)} 没找到贡献记录。
