- page_title "成员"

- if show_new_nav?
  - add_to_breadcrumbs("Settings", edit_project_path(@project))

.row.prepend-top-default
  .col-lg-12
    %h4
      项目成员
    - if can?(current_user, :admin_project_member, @project)
      %p
        添加新用户到
        %strong= @project.name
        或将他共享到其它群组。
    - else
      %p
        成员可以被项目
        %i 主程序员
        或
        %i 拥有者
        添加
    .light
      - if can?(current_user, :admin_project_member, @project)
        %ul.nav-links.project-member-tabs{ role: 'tablist' }
          %li.active{ role: 'presentation' }
            %a{ href: '#add-member-pane', id: 'add-member-tab', data: { toggle: 'tab' }, role: 'tab' } 添加成员
          - if @project.allowed_to_share_with_group?
            %li{ role: 'presentation' }
              %a{ href: '#share-with-group-pane', id: 'share-with-group-tab', data: { toggle: 'tab' }, role: 'tab' } 与群组共享

        .tab-content.project-member-tab-content
          .tab-pane.active{ id: 'add-member-pane', role: 'tabpanel' }
            = render 'projects/project_members/new_project_member', tab_title: 'Add member'
          .tab-pane{ id: 'share-with-group-pane', role: 'tabpanel' }
            = render 'projects/project_members/new_shared_group', tab_title: 'Share with group'

        = render 'shared/members/requests', membership_source: @project, requesters: @requesters
        .clearfix
          %h5.member.existing-title
            现有用户和群组
        - if @group_links.any?
          = render 'projects/project_members/groups', group_links: @group_links

    = render 'projects/project_members/team', members: @project_members
    = paginate @project_members, theme: "gitlab"
