- return unless current_user

.hidden-xs
  - if can?(current_user, :update_project_snippet, @snippet)
    = link_to edit_project_snippet_path(@project, @snippet), class: "btn btn-grouped" do
      编辑
  - if can?(current_user, :update_project_snippet, @snippet)
    = link_to project_snippet_path(@project, @snippet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-grouped btn-inverted btn-remove", title: '确认删除此代码片段？' do
      删除
  - if can?(current_user, :create_project_snippet, @project)
    = link_to new_project_snippet_path(@project), class: 'btn btn-grouped btn-inverted btn-create', title: "新建代码片段" do
      新建代码片段
  - if @snippet.submittable_as_spam_by?(current_user)
    = link_to '提交为垃圾', mark_as_spam_project_snippet_path(@project, @snippet), method: :post, class: 'btn btn-grouped btn-spam', title: '提交为垃圾'
- if can?(current_user, :create_project_snippet, @project) || can?(current_user, :update_project_snippet, @snippet)
  .visible-xs-block.dropdown
    %button.btn.btn-default.btn-block.append-bottom-0.prepend-top-5{ data: { toggle: "dropdown" } }
      选项
      = icon('caret-down')
    .dropdown-menu.dropdown-menu-full-width
      %ul
        - if can?(current_user, :create_project_snippet, @project)
          %li
            = link_to new_project_snippet_path(@project), title: "新建代码片段" do
              新建代码片段
        - if can?(current_user, :update_project_snippet, @snippet)
          %li
            = link_to project_snippet_path(@project, @snippet), method: :delete, data: { confirm: "确认删除此代码片段？" }, title: '删除代码片段' do
              删除
        - if can?(current_user, :update_project_snippet, @snippet)
          %li
            = link_to edit_project_snippet_path(@project, @snippet) do
              编辑
        - if @snippet.submittable_as_spam_by?(current_user)
          %li
            = link_to '提交为垃圾', mark_as_spam_project_snippet_path(@project, @snippet), method: :post
