%li
  .row
    .col-md-8.col-lg-7
      %strong.light-header= hook.url
      %div
        - %w(push_events tag_push_events issues_events confidential_issues_events note_events merge_requests_events job_events pipeline_events wiki_page_events).each do |trigger|
          - if hook.send(trigger)
            %span.label.label-gray.deploy-project-label= trigger.titleize
    .col-md-4.col-lg-5.text-right-lg.prepend-top-5
      %span.append-right-10.inline
        SSL 证书验证： #{hook.enable_ssl_verification ? "enabled" : "disabled"}
      = link_to "编辑", edit_project_hook_path(@project, hook), class: "btn btn-sm"
      = link_to "测试", test_project_hook_path(@project, hook), class: "btn btn-sm"
      = link_to project_hook_path(@project, hook), data: { confirm: '确定要移除？'}, method: :delete, class: "btn btn-transparent" do
        %span.sr-only 移除
        = icon('trash')
