- @hide_top_links = true
- page_title '里程碑'
- header_title '里程碑', dashboard_milestones_path

- if show_new_nav?
  - content_for :breadcrumbs_extra do
    = render 'shared/new_project_item_select', path: 'milestones/new', label: '新建里程碑', include_groups: true

.top-area
  = render 'shared/milestones_filter', counts: @milestone_states

  .nav-controls{ class: ("visible-xs" if show_new_nav?) }
    = render 'shared/new_project_item_select', path: 'milestones/new', label: '新建里程碑', include_groups: true

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block 没有里程碑显示
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: 'gitlab'
