- content_for :note_actions do
  - if can?(current_user, :update_merge_request, @merge_request)
    - if @merge_request.open?
      = link_to '关闭合并请求', merge_request_path(@merge_request, merge_request: { state_event: :close }), method: :put, class: "btn btn-nr btn-comment btn-close close-mr-link js-note-target-close", title: "关闭合并请求", data: { original_text: "关闭合并请求", alternative_text: "评论&关闭合并请求"}
    - if @merge_request.reopenable?
      = link_to '重新打开合并请求', merge_request_path(@merge_request, merge_request: { state_event: :reopen }), method: :put, class: "btn btn-nr btn-comment btn-reopen reopen-mr-link js-note-target-close js-note-target-reopen", title: "重新打开合并请求", data: { original_text: "重新打开合并请求", alternative_text: "评论&重新打开合并请求"}
  %comment-and-resolve-btn{ "inline-template" => true, ":discussion-id" => "" }
    %button.btn.btn-nr.btn-default.append-right-10.js-comment-resolve-button{ "v-if" => "showButton", type: "submit", data: { project_path: "#{project_path(@merge_request.project)}" } }
      {{ buttonText }}

#notes= render "shared/notes/notes_with_form", :autocomplete => true
