- page_title '集成'
= render 'projects/settings/head'

.row.prepend-top-default
  .col-lg-3
    %h4.prepend-top-0
      = page_title
    %p
      #{link_to 'Web 钩子', help_page_path('user/project/integrations/webhooks')} 可以
      绑定项目发生的事件。
  .col-lg-9.append-bottom-default
    = form_for [@project.namespace.becomes(Namespace), @project, @hook], as: :hook, url: project_hook_path(@project, @hook) do |f|
      = render partial: 'shared/web_hooks/form', locals: { form: f, hook: @hook }

      = f.submit '保存修改', class: 'btn btn-create'
      = link_to '测试钩子', test_project_hook_path(@project, @hook), class: 'btn btn-default'
      = link_to '删除', project_hook_path(@project, @hook), method: :delete, class: 'btn btn-remove pull-right', data: { confirm: '您确定要删除？' }

%hr

= render partial: 'projects/hook_logs/index', locals: { hook: @hook, hook_logs: @hook_logs, project: @project }
