%li.runner{ id: dom_id(runner) }
  %h4
    = runner_status_icon(runner)

    - if @project_runners.include?(runner)
      = link_to runner.short_sha, runner_path(runner), class: 'commit-sha'

      - if runner.locked?
        = icon('lock', class: 'has-tooltip', title: '锁定到当前项目')

      %small
        = link_to edit_project_runner_path(@project, runner) do
          %i.fa.fa-edit.btn
    - else
      %span.commit-sha
        = runner.short_sha

    .pull-right
      - if @project_runners.include?(runner)
        - if runner.belongs_to_one_project?
          = link_to '删除 Runner', runner_path(runner), data: { confirm: "确定要删除？" }, method: :delete, class: 'btn btn-danger btn-sm'
        - else
          - runner_project = @project.runner_projects.find_by(runner_id: runner)
          = link_to '在当前项目禁用', project_runner_project_path(@project, runner_project), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-sm'
      - elsif runner.specific?
        = form_for [@project.namespace.becomes(Namespace), @project, @project.runner_projects.new] do |f|
          = f.hidden_field :runner_id, value: runner.id
          = f.submit '在当前项目启用', class: 'btn btn-sm'
  .pull-right
    %small.light
      \##{runner.id}
  - if runner.description.present?
    %p.runner-description
      = runner.description
  - if runner.tag_list.present?
    %p
      - runner.tag_list.sort.each do |tag|
        %span.label.label-primary
          = tag
