- @no_container = true
- page_title "流水线"
= render "projects/pipelines/head"

#pipelines-list-vue{ data: { endpoint: project_pipelines_path(@project, format: :json),
  "css-class" => container_class,
  "help-page-path" => help_page_path('ci/quick_start/README'),
  "new-pipeline-path" => new_project_pipeline_path(@project),
  "can-create-pipeline" => can?(current_user, :create_pipeline, @project).to_s,
  "all-path" =>  project_pipelines_path(@project),
  "pending-path" => project_pipelines_path(@project, scope: :pending),
  "running-path" => project_pipelines_path(@project, scope: :running),
  "finished-path" => project_pipelines_path(@project, scope: :finished),
  "branches-path" => project_pipelines_path(@project, scope: :branches),
  "tags-path" => project_pipelines_path(@project, scope: :tags),
  "has-ci" => @repository.gitlab_ci_yml,
  "ci-lint-path" => ci_lint_path } }

= page_specific_javascript_bundle_tag('common_vue')
= page_specific_javascript_bundle_tag('pipelines')
